[Generic.Path]
dir1 = .
dir2 =
dir3 =
dir4 =
exdir1 =
exdir2 =

[Generic.Ignore]
ignore_hidden = true
ignore_vcd = true
ignore_udd = true
ignore_udft = true
udd =
udft =

[Duplication.Keep]
# 1: longest name;
# 2: oldest;
# 3: less layers dir;
# 4: more layers dir;
# 5: anyone
keep = 2

[Duplication.Remove]
# 1: directly delete
# 2: do nothing
# 3: move to somewhere
destiny = 1
somewhere = .

[Extraction.To]
# 1: same dir
# 2: extract to somewhere
destination = 1
somewhere = .

[Extraction.Remove]
# 1: directly delete
# 2: do nothing
# 3: move to somewhere
destiny = 1
somewhere = .

[Rename]
add_text =
remove_text =

# 1: start; 2: end
add_to =

# 1: start; 2: end; 3: anywhere
remove_from =

add_author = false
add_isbn = false
add_date = false

[Same Name]
comp_dir = .
with_dir = .
